@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
  html,
  body {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

@layer components {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .brand-wheel {
    flex-direction: row;
    align-items: center;
    display: flex;
    overflow: scroll;
    position: relative;
    height: 200px;
    --animationspeed: 45s;
    --animationdelay: calc(var(--animationspeed) / 2);
  }

  .brand-slide {
    flex-shrink: 0;
    position: absolute;
    animation-name: slidelogo;
    animation-duration: var(--animationspeed);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .brand-slide.delay { 
    transform: translateX(100%);
    animation-name: slidelogo2;
  }


  .logo-div {
    display: inline-flex;
    align-self: center;
    padding: 0 20px 0 20px;
  }

  @keyframes slidelogo {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slidelogo2 {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .logo-div {
    display: inline-flex;
    align-self: center;
    object-fit: contain;
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    padding: 0 20px 0 20px;
  }

  .container::before {
    position: absolute;
    background-image: linear-gradient(
      to right,
      rgba(22, 22, 22, 1) 0%,
      rgba(22, 22, 22, 0) 100%
    );
    content: "";
    height: 200px;
    width: 5%;
    z-index: 2;
    pointer-events: none;
  }
  .container::after {
    position: absolute;
    transform: translateY(-200px);
    background-image: linear-gradient(
      to left,
      rgba(22, 22, 22, 1) 0%,
      rgba(22, 22, 22, 0) 100%
    );
    content: "";
    height: 200px;
    width: 5%;
    z-index: 10;
    pointer-events: none;
    right: 0;
  }
  .nav-item {
    font-family: Raleway, sans-serif;
    fontweight: 500;
  }
  .grid-container-home {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  .floating-label-group {
    position: relative;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .floating-label {
    font-size: 20px;

    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 12px;
    transition: all 0.1s ease;
  }
  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label {
    top: -35px;
    bottom: 0px;
    left: 0px;
    font-size: 20px;
    opacity: 1;
    color: #404040;
  }
  textarea:focus ~ .floating-label,
  textarea:not(:focus):valid ~ .floating-label {
    top: -35px;
    bottom: 0px;
    left: 0px;
    font-size: 20px;
    opacity: 1;
    color: #404040;
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(0, 316px));
  }
  .safari {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}
